

<div class="container-fluid">


<div class="row">

  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title">SUMMARY</h3>
      </div>    
    
      <div class="panel-body">
        
        Mid-level professional with 6-year concentrated experience in internet technology and marketing. 
        Broad knowledge of systems programming and programming principles. Interested in pursuing a programming position. 
        Seeking a challenging job opportunity to leverage an academic IT background and proficient use of 
        computer systems.<br>
    
      </div>
      
    </div>
    
  </div>
  
</div>




