

<div class="row">

  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">
    
      <div class="panel-body">

        Brandon Tardio<br>
        BTardio@gmail.com<br>
        818.424.6838<br>
        Studio City CA 91604<br>
        
      </div>
      
    </div>

  </div>
    
</div>

<div class="row">

  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title">SUMMARY</h3>
      </div>    
    
      <div class="panel-body">
        
        Mid-level professional with 6-year concentrated experience in internet technology and marketing. 
        Broad knowledge of systems programming and programming principles. Interested in pursuing a programming position. 
        Seeking a challenging job opportunity to leverage an academic IT background and proficient use of 
        computer systems.<br>
    
      </div>
      
    </div>
    
  </div>
  
</div>


<div class="row">

  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title">TECHNOLOGY SUMMARY</h3>
      </div>    
    
      <div class="panel-body">

        Computer Science Degree<br>
        Systems: Mac OS, Windows, Unix<br>
        Languages: C++, Python, HTML, Java, Flash, Pascal, CGI<br>
          
      </div>

    </div>
    
  </div>

</div>


<div class="row">

  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title">WORK EXPERIENCE</h3>
      </div>    
    
      <div class="panel-body">

        <h4>US Department of State Bureau of Information Resource Management (11/10 – 3/12) Marine Special Operations<br></h4>
        <ul>
          <li>
            Worked on the State Messaging and Archive Retrieval Toolset (SMART) messaging application 
            enabling Diplomats worldwide effective secure communication.<br>
          </li>
          <li>
            Troubleshot submitted tickets, set role based access control, and managed security provisions 
            for cleared Americans, foreign nationals and interagency personnel.<br>
          </li>
          <li>
            Set access control and security priveleges for cleared Americans, foreign nationals and
            interagency personnel.<br>
          </li>
        </ul>
        <br>
        
        <h4>US Department of State Office of Reconstruction and Stabilization (01/10 - 11/10)<br></h4>
        <ul>
          <li>
            Planned and executed public affairs campaigns to inform audiences.<br>
          </li>
          <li>
            Created weekly interagency news feeds and maintained informational packets and articles.<br>
          </li>
          <li>
            Interviewed personnel and developed post deployment articles.<br>
          </li>
          <li>
            Prepared personnel for meetings, created meeting materials and recorded meeting activities.<br>
          </li>
        </ul>
        <br>
        <h4>Weber Shandwick Technology Practice (09/2006 - 10/2008) Assistant Account Executive<br></h4>
        <ul>
          <li>
            Supported accounts: Cisco, Elekta, Hitachi, ID Analytics, Inrix, LynuxWorks, Nortel, Pond Ventures, 
            LifeSize and VeriSign.<br>
          </li>
          <li>
            Developed press releases, briefing booklets, media lists. Marketed clients to reporters over the phone 
            and through email.<br>
          </li>
          <li>
            Created key messaging, translated technical terms into marketable terms.<br>
          </li>
        </ul>
        <br>
        <h4>Rogers & Cowan – Public Relations (06/2005, 08/2005) Convergence Department Intern/Temp<br></h4>
        <ul>
          <li>
            Supported accounts: TiVo, Texas Instruments, Electronic Arts, Shopzilla, Activision, Razer and id Software<br>
          </li>
          <li>
            Prepared and maintained lists of reporters.<br>
          </li>
        <br>
        
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-10 col-md-offset-1">

    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title">Education</h3>
      </div>    
    
      <div class="panel-body">

        B.A. Computer Science University of San Diego (2006)<br>
        A.A. Marymount College (2003)<br>
        
      </div>
      
    </div>
  
  </div>
  
</div>